[submodule "less"]
	path = less
	url = https://github.com/bobamo/plugin-less
[submodule "visualize"]
	path = visualize
	url = https://github.com/bobamo/plugin-visualize
[submodule "passport"]
	path = passport
	url = https://github.com/bobamo/plugin-passport
[submodule "imageupload"]
	path = imageupload
	url = https://github.com/bobamo/plugin-imageupload
